.feature {
    margin-top: 60px;
    width: 295px;
    
    &__list {
        list-style: none;
    }
    &__number {
        font-size: 85.5px;
        font-family: "PlayFairDisplay-Bold";
        font-weight: 700;
        color: #fde3c9;
    }
    &__title {
        color: #1a292f;
        font-size: 24px;
        font-family: "Raleway-SemiBold";
        font-weight: 600;
        margin-bottom: 20px;
    }
    &__text {
        color: #838383;
        font-size: 18px;
        line-height: 25px;
    }
}

@media(min-width: 1360px){
    .feature{
        width: 100%;
        margin-top: 120px;
        &__list{
            display: flex;
            justify-content: space-between;
        }

        &__list-item{
            &:nth-child(even){
                margin-top: 220px;
            }
        }

        &__list-item + &__list-item{
            padding-left: 40px;
        }
    }
}