.portfolio {
    margin-top: 80px;
    &__title {
        text-align: center;
        font-size: 45px;
        font-weight: bold;
        color: #00203a;
    }
    &__list{
        margin-bottom: 35px;
    }
    &__list-item {
        font-size: 22px;
        line-height: 53px;
        padding-left: 15px;
        color: #bababa;
        transition: all 0.4s;
        &:hover {
            color: $text-color;
        }
    }
}
