.reviews {
    background-color:#fdfaf3;
    min-height: 1156px;
    text-align: center;
    width: 295px;
    margin: 0 auto;

    &__wrapper{
        position: relative;
        z-index: 1;
        &::after{
            content: "";
            width: 295px;
            height: 580px;
            background-color: $white;
            position: absolute;
            top: 380px;
            right: 0;
            z-index: -1;
        }
    }

    &__name {
        font-size: 23px;
        line-height: 30px;
    }
    &__span {
        color: #efb172;
        font-size: 21px;
        font-weight: bold;
    }
    &__title {
        font-size: 48px;
        color: $text-color;
        padding-top: 140px;
    }
    &__img {
        margin-top: 30px;
    }
    &__text {
        font-size: 22px;
        width: 260px;
        line-height: 30px;
        color: #5e5e5e;
        padding-top: 25px;
        margin: 0 auto;
    }
    &__list {
        width: 144px;
        padding-top: 90px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    &__list-item {
        height: 3px;
        width: 26px;
        background-color: #cdd3cf;
        list-style: none;
        transition: all .3s;
        &:hover{
            background-color: #1a444a;
        }
    }
}
