.reviews {
    background-color:#fdfaf3;
    min-height: 1156px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    &__name {
        font-size: 23px;
        line-height: 30px;
    }
    &__span {
        color: #efb172;
        font-size: 21px;
        font-weight: bold;
    }
    &__title {
        font-size: 48px;
        color: $text-color;
        padding-top: 140px;
    }
    &__img {
        margin-top: 30px;
    }
    &__text {
        font-size: 22px;
        width: 260px;
        line-height: 30px;
        color: #5e5e5e;
        padding-top: 25px;
        margin: 0 auto;
    }
}

.swiper-container2 .swiper-pagination{
    position: relative;
    margin-top: 100px;
}

.swiper-container2 .swiper-pagination .swiper-pagination-bullets{
    width: 26px;
    height: 3px;
}

@media(min-width:1360px){
    .reviews{
        &__title{
            text-align: left;
            padding-left: 99px;
        }
    }
}
