.services {
    &__title {
        font-size: 45px;
        font-family: "PlayFairDisplay-Bold";
        font-weight: 700;
        color: $text-color;
        text-align: center;
    }
    &__list {
        margin: 0 18px;
        list-style: none;
        color: #b0afac;
        font-size: 22px;
    }
    &__img {
        padding-top: 44px;
        display: block;
        margin: 0 auto;
    }
    &__list-item {
        font-size: 22px;
        padding-top: 45px;
        transition: all 0.4s;

        &:hover{
            color: $text-color;
        }
    }
    &__text {
        font-size: 21px;
        line-height: 30px;
        padding:25px 28px 0 15px;
        color: #5e5e5e;
    }
    &__btn {
        height: 56px;
        width: 217px;
        background-color: $white;
        position: relative;
        font-size: 15px;
        font-weight: bold;
        color: $text-color;
        margin: 0 auto;
        display: block;
        margin-top: 52px;
        outline: none;
        &:hover {
            background-color:  #f8a25a;
            border: none;
            color: $white;
        }
    }
}

