.services {
    &__title {
        font-size: 45px;
        font-family: "PlayFairDisplay-Bold";
        font-weight: 700;
        color: $text-color;
        text-align: center;
    }
    &__list {
        padding-right: 33px;
        list-style: none;
        color: #b0afac;
        margin-bottom: 65px;
    }

    &__list-item {
        font-size: 22px;
        margin-top: 40px;
        transition: all 0.4s;

        &:hover{
            color: $text-color;
        }
    }

    &__img{
        margin-bottom: 32px;
        margin-left: -16px;
    }

    &__subtitle{
        display: none;
    }

    &__text {
        font-size: 21px;
        line-height: 30px;
        font-family: "Raleway-Light";
        font-weight: 300;
        color: #5e5e5e;
        padding-right: 15px;
    }

&__counter{
    display: none;
}
    &__btn {
        height: 56px;
        width: 217px;
        background-color: $white;
        position: relative;
        font-size: 15px;
        font-weight: bold;
        color: $text-color;
        margin: 0 auto;
        display: block;
        margin-top: 52px;
        outline: none;
        &:hover {
            background-color:  #f8a25a;
            border: none;
            color: $white;
        }
    }
}

@media(min-width: 1360px){
    .services {
        min-height: 856px;

        &__box{
            display: flex;
            justify-content: space-between;
        }

        &__title{
            text-align: left;
        }
        &__list{
            padding: 0;
            width: 230px;
        }
        &__list-item {
            margin-top: 65px;
            &:last-child{
                width: 160px;
            }
            &:hover{
                transform: translateX(30px);
            }
        }

        &__box-right{
            margin-top: 60px;
            padding-right: 30px;
        }

        &__subtitle{
            display: block;
            font-size: 30px;font-family: "PlayFairDisplay-Regular";
            font-weight: 400;
            color: $text-color;
            margin-bottom: 17px;

        }

        &__counter{
            display: block;
            text-align: right;
            margin-top: 20px;

            &--sub {
                display: inline-block;
                position: relative;
                top: -5px;
            }
        }

        &__wrapper{
            display: flex;
            justify-content: space-between;
        }

        &__wrapper-left{
            width: 486px;
        }

        &__text{
            padding: 0;
            width: 485px;
            font-family: "Raleway-Light";
            font-weight: 300;
            line-height: 30px;
            width: 510px;

        }

        &__btn{
            margin-top: 73px;
        }
        
    }
}

