
.image-slider{
    text-align: center;
    max-width: 100%;
    margin-bottom: 88px;
    &__text{
        font-size: 18px;
        font-weight: bold;
        padding-top: 23px;
        color: $text-color;
    }
    &::after{
        content: "";
        height: 530px;
        width: 15px;
        position: absolute;
        background-color: rgba(27, 48, 65, 0.8);
        top: 0;
        left: 0;
        z-index: 100;
    }
    &::before{
        content: "";
        height: 530px;
        width: 15px;
        position: absolute;
        background-color: rgba(40, 58, 73, 0.8);
        top: 0;
        right: 0;
        z-index: 100;
    }
}