body {
    box-sizing: border-box;
    min-width: $mobile-width;
    overflow-x: hidden;
    font-size: 18px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.header {
    height: 608px;
    background-image: url(/img/img.jpg);
    background-repeat: no-repeat;
    position: relative;

    &::after {
        content: "";
        height: 608px;
        min-width: 100%;
        background-color: rgba(46, 63, 78, 0.88);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    & .container {
        padding: 0 16px;
        height: 100%;
        z-index: 1;
        position: absolute;
    }
}


.header-top {
    padding-top: 26px;
    display: flex;
    justify-content: space-between;

}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 353px;
    text-align: center;
    margin-top: 122px;

    &__title {
        font-size: 48px;
        color: #fff;
        line-height: 40px;
    }

    &__text {
        color: #fff;
        font-size: 18px;
    }

    &__btn {
        height: 54px;
        width: 223px;
        border: none;
        color: #fff;
        background-color: #f8a25a;
    }
}

.feature {
    margin-top: 75px;
    padding-left: 15px;
    padding-right: 40px;
    background-color: #fff;

    &__list {
        list-style: none;
        min-height: 1200px;
    }

    &__list-item {
        height: auto;
    }

    &__number {
        font-size: 85.5px;
        color: #fde3c9;
    }

    &__title {
        color: #1a292f;
        font-size: 24px;
    }

    &__text {
        padding-top: 25px;
        color: #838383;
        font-size: 18px;
    }
}

.portfolio {
    min-height: 914px;

    &__title {
        text-align: center;
        font-size: 45px;
        font-weight: bold;
        color: #00203a;
    }

    &__list-item {
        font-size: 22px;
        line-height: 53px;
        padding-left: 15px;
        color: #bababa;
        transition: all 0.4s;

        &:hover {
            color: $text-color;
        }
    }

    &__wrapper-img {
        position: relative;
        &::before {
            content: "";
            top: 0;
            left: 0;
            position: absolute;
            width: 7px;
            height: 530px;
            background-color:#243545;
        }
    }

    &__img {
        text-align: center;
        margin-top: 39px;
        margin: 0 auto;
        display: block;
        position: relative;

    }

    &__text {
        color: $text-color;
        font-weight: bold;
        padding-top: 25px;
    }
}

.services {
    min-height: 1342px;

    &__list-item {
        font-size: 22px;
        line-height: 61px;
    }
}

.services__title {
    font-size: 45px;
    color: $text-color;
    text-align: center;
}